{{define "main"}}
<!-- ======= Hero Section ======= -->
<section class="hero-bg">
  <video autoplay muted loop playsinline class="background-video">
    <source src="/assets/img/video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
<div class="row md-5">
  <div class="col-md-9">
    <p><i>Creating Tomorrow’s Landmarks, One Blueprint at a Time...</i></p>
  </div>
</div>
<!-- End Hero -->

<section class="text">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>
          <i>Partner with Purcino</i>
        </h2>
      </div>
      <div class="col-md-6">
        <p>
          At PURCINO we bring unparalleled expertise, commitment, and integrity
          to every project. We understand the importance of precision and
          reliability in construction, and our team is dedicated to providing
          comprehensive engineering solutions that align with our clients’
          goals. From detailed architectural, civil, and structural plans to
          precise site surveys, we handle every aspect with meticulous care to
          ensure successful, on-time project completion. Our emphasis on client
          privacy sets us apart; we prioritize confidentiality and handle each
          project with the utmost discretion. With PURCINO, clients gain a
          trusted partner who values their vision and works tirelessly to bring
          it to life with excellence.
        </p>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <a href="/who-we-are">View Who We Are</a>
      </div>
    </div>
  </div>
</section>

<section class="text ftr">
  <div class="container">
    <div class="feature">
      <div class="img">
        <img src="/assets/img/feature.jpg" alt="bg" />
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-lg-8 light-bg">
        <h2>Featured Areas of Expertise</h2>
        <p>
          Our areas of expertise span the full spectrum of construction
          engineering, making us a versatile and valuable partner in any
          project. Our team specializes in creating comprehensive architectural,
          civil, and structural plans, each tailored to meet the unique demands
          of the project and ensure compliance with local codes and regulations.
        </p>
        <div class="text-end">
          <a href="/what-we-do">View What We Do</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text project">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-9">
        <header>
          <h3>FEATURED PROJECTS</h3>
        </header>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-4">
        <h2>
          <a href="/4th-project">Complex Base </a>
        </h2>
      </div>
      <div class="col-md-3">
        <p>
          Complex Base is a striking, contemporary apartment building that rises
          gracefully into the skyline, a blend of elegance and modern design.
          The five-story structure hosts 20 thoughtfully designed apartments,
          each one crafted to balance luxury and practicality. As you approach
          Complex Base, its sleek exterior catches the eye, with large glass
          windows, smooth concrete walls, and subtle metal accents creating a
          harmonious yet bold look.
        </p>
      </div>
      <div class="col-md-3">
        <img
          src="/assets/img/project-4.jpg"
          alt="project 4"
          class="img-fluid"
        />
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-md-3">
        <p>
          Saint Clair St. is a charming, intimate apartment building that houses
          six families, designed to feel like a small, close-knit community
          within a modern, urban setting. The building stands three stories
          tall, with a warm, inviting brick and wood façade that blends
          seamlessly with the neighborhood’s character. Its architecture has a
          classic touch, featuring large windows with wooden frames and elegant
          balconies that give each apartment a touch of individuality and
          outdoor space.
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="/assets/img/project-2.jpg"
          alt="project 4"
          class="img-fluid"
        />
      </div>
      <div class="col-md-3">
        <h2>
          <a href="/2nd-project">Saint Clair st.</a>
        </h2>
      </div>
    </div>
  </div>
</section>

<section class="cta text">
  <div class="container">
    <div class="feature">
      <div class="img">
        <img src="/assets/img/cta.jpg" alt="bg" />
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <div class="col-md-8">
        <div class="light-bg">
          <h2><i>We're here to assist you</i></h2>
          <p class="long">
            Contact our team today!
            <a href="/contact-us" class="btn"
              >Contact Us <i class="bi bi-chevron-compact-right"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="img-section"></section>

<section class="cta-last">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2>Discover your next oppoortunity</h2>
        <p>
          What if you could create a career as exceptional as you? <br />
          With us, you can!
        </p>
        <div class="a-btn text-end">
          <a href="/contact-us">
            Careers <i class="bi bi-chevron-compact-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
