{{define "main"}}
<section class="hero text">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2 data-aos="fade-left" data-aos-delay="100"><i>Who We Are</i></h2>
        <p data-aos="fade-right" data-aos-delay="200">
          PURCINO is a trusted construction engineering firm dedicated to
          delivering excellence across a diverse range of projects while
          maintaining strict privacy and confidentiality for our clients. With
          experience in architectural, civil, and structural engineering, we
          provide tailored solutions for commercial, residential,
          multi-residential, institutional, and industrial developments. Our
          team combines technical expertise with a client-focused approach,
          ensuring that every project meets the highest standards of quality,
          compliance, and discretion.
        </p>
        <p data-aos="fade-right" data-aos-delay="300">
          Based in the Northeast region, we are committed to helping our clients
          turn their visions into reality, offering precise planning,
          sustainable practices, and reliable project management. At PURCINO, we
          bring integrity, innovation, precision, and a steadfast commitment to
          client confidentiality to every build, making us a valued partner in
          construction engineering.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="project">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 blue-bg" data-aos="zoom-in" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <h2 data-aos="fade-left" data-aos-delay="200">
              OUR <br />
              MISSION
            </h2>
          </div>
          <div class="col-md-8" data-aos="fade-right" data-aos-delay="200">
            <p>
              Our mission is to transform client visions into exceptional,
              enduring structures through a commitment to quality, innovation,
              and integrity. We aim to provide a seamless project experience by
              combining technical expertise with dedicated client support,
              ensuring each project is completed on time, within budget, and to
              the highest standards. With a focus on sustainable practices and
              client confidentiality, we work to create spaces that are not only
              functional but also contribute positively to the communities they
              serve. Our mission is to build long-term relationships through
              trust, reliability, and a passion for engineering excellence.
            </p>
          </div>
          <div class="new-img" data-aos="fade-up" data-aos-delay="100">
            <img src="/assets/img/mission.jpg" alt="Mission" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero text pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <h2 data-aos="fade-up" data-aos-delay="100"><i>Our Values</i></h2>
        <p data-aos="fade-up" data-aos-delay="100">
          We are built on a foundation of core values that guide every project
          we undertake. Integrity is at the heart of our operations, ensuring
          transparency and honesty in all client interactions. We prioritize
          quality, striving to exceed industry standards and deliver exceptional
          results that stand the test of time. Client privacy is a top priority,
          and we are dedicated to handling every project with the utmost
          discretion and confidentiality. Innovation drives our approach, as we
          continuously seek efficient and sustainable solutions to meet our
          clients’ needs. Together, these values allow us to build strong,
          lasting relationships and deliver excellence in all we do.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials Section - Home Page -->
<section
  id="testimonials"
  class="testimonials"
  data-aos="fade-up"
  data-aos-delay="100"
>
  <div class="slides-1 swiper" data-aos="fade-up">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="testimonial-item item item-1">
          <div class="row justify-content-center align-items-end">
            <div class="col-md-6">
              <div class="box text-center">
                <p>
                  PURCINO did an outstanding job during the demolition of
                  commercial facility. Their clear communication and
                  professionalism kept the project on track with minimal delays.
                  I highly recommend PURCINO for any project involving
                  environmental challenges or site remediation—they are truly
                  experts in their field!
                </p>
                <p><span> -Fernanda, Brasilia</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item item item-2">
          <div class="row justify-content-center align-items-end">
            <div class="col-md-6">
              <div class="box text-center">
                <p>
                  PURCINO delivered an outstanding service for our new building
                  project. One situation that really highlighted their expertise
                  was when we encountered a significant challenge with the
                  building’s load-bearing capacity due to an unusual
                  architectural design feature we wanted to incorporate.
                </p>
                <p><span> – Thomas, Toronto</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End testimonial item -->

      <div class="swiper-slide">
        <div class="testimonial-item item item-3">
          <div class="row justify-content-center align-items-end">
            <div class="col-md-6">
              <div class="box text-center">
                <p>
                  PURCINO did an outstanding job during the demolition of
                  commercial facility. Their clear communication and
                  professionalism kept the project on track with minimal delays.
                  I highly recommend PURCINO for any project involving
                  environmental challenges or site remediation—they are truly
                  experts in their field!
                </p>
                <p><span> – Mike, Toronto</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
<!-- End Testimonials Section -->
{{end}}
