<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 mb-5">
          <h2>
            BE IN <br />
            TOUCH
          </h2>
          <a href="/contact-us" class="f-btn"
            >Contact Us <i class="bi bi-chevron-compact-right"></i>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-6 footer-info">
          <img src="/assets/img/logo.png" alt="logo" class="logo" />
        </div>

        <div class="col-md-2 footer-links text-center">
          <h4>Email</h4>
          <ul>
            <li>
              <a href="mailto:info@purcino.co">info@purcino.co</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 text-center footer-contact">
          <h4>Follow</h4>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-newsletter">
          <h4></h4>
          <p>USA</p>
          <p>CANADA</p>
          <p>BRAZIL</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>PURCINO</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Developed by <a href="https://sual-soft.com/">S U A L SOFT</a>
    </div>
  </div>
</footer>
