<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light">
        <a href="/"><i>Purcino</i></a>
      </h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/who-we-are">Who We Are</a></li>
        <li><a href="/what-we-do">What We Do</a></li>
        <li><a href="/benefits">Benefits</a></li>
        <li><a href="/careers">Careers</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
